.tile {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
}

.light {
  background-color: #f2edeb;
}

.dark {
  background-color: #925e78;
}

.piece {
  background: none;
  background-size: 100%;

  width: 75px;
  height: 75px;
}
